*.txt
*.csv

LungTumor-Segmentation-main/__pycache__
LungTumor-Segmentation-main/.ipynb_checkpoints
LungTumor-Segmentation-main/dataset/SmallDataSet
LungTumor-Segmentation-main/dataset/Task06_Lung
LungTumor-Segmentation-main/Images
LungTumor-Segmentation-main/unet.png
segementation/__pycache__
segementation/datafiles/__pycache__
segementation/dataset/__pycache__
segementation/dataset/result
segementation/eval/__pycache__
segementation/lightning_logs
segementation/model/__pycache__
segementation/train
segementation/val